body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

h2 {
  font-size: 20px; }

.half, .half .container > .row {
  height: 100px;
  min-height: 100px; }

@media (max-width: 991.98px) {
  .half .bg {
    height: 100px; } 
  }

.half .contents {
  background: #f6f7fc; }

 .bg {
  width: 100%; 
}
  .contents{
    width: 100%; 
  }
  @media (max-width: 1199.98px) {
    .half .contents, .half .bg {
      width: 100%;
    }
    
     }
    
  @media  (max-width:780px ) and (min-width: 600px) {
    #logo img{
      margin-top: -190px;
      ;
    }
  }
  @media screen and (max-width: 500px) {
   .row {
     display: flex;
     flex-direction: column-reverse;
   }
  }
  @media  (max-width:990px ) and (min-width: 781px) {
    #logo img{
      margin-top: -190px;
    
    }
  }
  @media  (max-width:1200px ) and (min-width: 1023px) {
    #logo img{
      /* margin-top: -190px; */
      margin-top: 400px;
    
    }
  }
  @media (min-width: 1199.98px) {
    .content{
      margin-top:40px;
    }
  }
  @media (max-width: 599.98px) {
    #logo img{
      display:none;visibility:hidden;
    }
    #logocontent{
      text-align: center;
      margin-top:50px;
    }
    .contents{
      margin-bottom: 100px;
    }
  }
  
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

 .bg {
  background-size: cover;
  background-position: center; }


  .btn-primarys  {

    color: rgba(0, 145, 255, 0.75);
    letter-spacing: 1px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  .btn-primary  {
    border-radius: 40px;
  }
  .btn-primarys:hover {
    color: rgba(0, 145, 255, 0.75);
    background: rgb(208, 231, 252);
    border: 2px solid rgba(58, 133, 191, 0.75);
  }
  #btn-primry-blue{
    background-color: rgb(29, 161, 242);
  }



   .input-container {
    position: relative;
    /* margin: 0 60px  50px; */
  }
   .input-container input {
    outline: none;
    z-index: 1;
    width: 100%;
    height: 55px;
    border: 1px solid rgb(186, 197, 197); 
     color: #212121;
    font-size: 16px;
    padding-left: 10px;
    padding-top:8px;
    font-weight: 400;
    border-radius: 5px;
  }
   .input-container input:focus::-webkit-input-placeholder {
   padding-top: 0px;
   height: 50px;
    color: #469dd6;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
  .input-container input:focus{
    border: 2px solid  #5fa4d1;

  
  }
 
  
   

   .input-container ::-webkit-input-placeholder {
    position: absolute;
    top: 6px;
    left: 10px;
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    line-height: 35 px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .custom-btn{
    width: 80%;
    margin-bottom: 18px;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .content h1{
    font-variant: small-caps;
  }
  .logo img{
    height: 120px;
    padding: 20px 0px;
  }
  #login h1{
    font-weight: 600;
  }
  #login .form-group{
    position: relative;
    margin-bottom: 1.5rem;
  }
  .inputer-login{
    outline: none;
    z-index: 1;
    width: 100%;
    height: 65px;
    border: 1px solid rgb(186, 197, 197); 
     color: #212121;
    font-size: 20px;
    padding-left: 10px;
    padding-top:20px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .area-label{
    color: #757575;
    position:absolute;
    top: 0;
    padding: 24px 0 0 10px;
    transition: 200ms;
  }
  #login .form-control:focus + .area-label{
    color: #469dd6;
  }
  #login .form-control:focus + .area-label,
  #login .form-control:valid + .area-label
  {
    /* border: 2px solid  #5fa4d1; */
    font-size: 80%;
    transform: translate3d(0,-45%,0);
    opacity: 1;
    
  }
  #daftar h2{
    font-weight: 600;
    font-size: 25px;
  }
  #daftar .form-group{
    position: relative;
    margin-bottom: 1.5rem;
  }
  #daftar .form-control:focus + .area-label{
    color: #469dd6;
  }
  #daftar .form-control:focus + .area-label,
  #daftar .form-control:valid + .area-label
  {
    /* border: 2px solid  #5fa4d1; */
    font-size: 80%;
    transform: translate3d(0,-45%,0);
    opacity: 1;
    
  }
  .navbar{
    height: 50px;
    box-shadow: 0 0 3px #aaa;
  }
  #navbar--container{
    max-width: 590px;
    margin: 0 auto;
    position: relative;
    top: 1px;
   
   
  }
  .reset_pass{
    max-width: 590px;
    margin: 0 auto;
    position: relative;
    top: 1px;
  }
  .reset_pass h2{
    font-weight:700;
    font-size: 28px;
  }
  .reset_pass input{
    border-radius: 50px;
  }
  .reset_pass button{
    padding: 5px 20px;
    border-radius: 50px;
    color: white;
    border: 1px solid transparent;
  }
  .reset_pass p b {
    font-weight: 900;
  }


  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .username-reset{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  #fullname-reset{
    font-weight: 600;
  }
  #logocontent{
    text-align: center;
  }
 